
// variables here
$blue : #2955CB;
$neggablue: #2F4B85;
$skyblue:#a6dcf5;
$yellow : #FFCD22;
$green: #AADF3A;
$white: #FFFFFF;
$black: #020B1E;

$poppins:'Poppins', sans-serif;
$bunge : 'Bungee', cursive;


// imports here

@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;1,100;1,300&display=swap');


// animations here
@keyframes floating {
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(-50%) translateY(20px);
    }
    
    100%{
        transform: translateX(0px);
    }
    
    
}

@keyframes floating_right {
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(-20%) ;
    }
    
    100%{
        transform: translateX(0px);
    }
    
    
}

@keyframes left {
    0%{
        transform: translateX(-30%) rotate(0deg);
    }
    50%{
        transform: translateX(-30%) rotate(10deg);
    }
    
    100%{
        transform: translateX(-30%) rotate(0deg);
    }
}

@keyframes right {
    0%{
        transform: translateX(30%) rotate(0deg);
    }
    50%{
        transform: translateX(30%) rotate(-10deg);
    }
    
    100%{
        transform: translateX(30%) rotate(0deg);
    }
}

.hidden{
       

    opacity: 0;
    filter: blur(5px);
    
    top: -20px;
    transition: 900ms ;
    
  }  
.show {
    opacity: 1;
    filter: blur(0);
    transition-delay: 900ms ;
    transition: 900ms ;
    top: 0px;
  
  }


* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: $poppins;
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: $black;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: $yellow;
  }




body{
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100vh;
    width: 100vw;
   


}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}





.main{
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;

   
    min-height: 100vh;
 
    background-color: $skyblue;
    
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;

    

    #canvas {
      
        position: fixed;
        height: 100vh;
        width: 100vw;
        z-index: 30;
        background:none;
        pointer-events: none;
    }

    
}


.nav{
    position: absolute;
    z-index: 20;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: 80px;
    
    backdrop-filter: blur(10px);
   
    ul{
        width: 80%;
        max-width: 1080px;
        
        display: flex;
        justify-content: space-between;

        list-style: none;
        
       
        color: $white;
    
        filter: drop-shadow(1px,1px,1px black);
        .active{
            background-color: $white;
            color: $blue;
            border-radius: 40px;
            filter: drop-shadow(1px 5px 2px rgba(0, 0, 0, 0.105));
            font-weight: 700;
        }
        a{
            font-family: $poppins;
            font-size:20px;
          text-decoration: none;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $yellow;
          font-weight: 900;
          padding: 10px 20px;
          cursor: pointer; 
          -webkit-text-stroke-width: .4px;
         -webkit-text-stroke-color: $neggablue;
         
          
           &:hover{
           
            background-color: $white;
            color: $blue;
            border-radius: 40px;
            filter: drop-shadow(1px 5px 2px rgba(0, 0, 0, 0.105));
            font-weight: 700;
           }
           
        }
    }
}


.monster{
    z-index: 0;
    height: 110vh;
    width: 100vw;
    position: absolute;
    display: flex;
    justify-content: space-between;
    background-color: #a6dcf5;
  
    
    .left{
        transform: translateX(-30%);
        animation: left ease-in-out 10s infinite;
    }
    .right{
        transform: translateX(30%);
        animation: right ease-in-out 10s infinite;
    }
    img{
        position: relative;
        object-fit: contain;
        height: 100%;
        min-width: 200px;
        
     
        
    }
}

.page1{
    
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    height: 90vh;
    width: 100%;
    overflow: hidden;
    z-index: 2;
    gap: 20px;
    
   
 
    .wow-logo{
        
        z-index: 11;
        width: 90%;
        height: 60%;
        object-fit: contain;
        pointer-events: none;
        
     
    }
    .text-con{
        width: 60%;
        margin-bottom: 100px;
        color: $neggablue;
        p{
            -webkit-text-stroke-width: .3px;
            -webkit-text-stroke-color: $white;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.221));

        }
    }

    .clouds{
        position: absolute;
        width: 100%;
        overflow: hidden;
      
        height: 100%;
        img{
            object-fit: cover;
            height: 90vh;
            width: 200vw;
            
            pointer-events: none;
            opacity: 80%;
            // background-color: red;
            animation: floating 30s infinite ease-in-out;
        }
    }

    
}

.page2{

   
    position: relative;
    min-height: 100%;
    
    width: 100vw;
    z-index: 10;
  
   

    padding-bottom: 100px;
   
    .page-2-container{
        height: 80%;
        width: 100%;
        transform: translateY(-20px);
        
        border-radius: 30px;
        background-color: $black ;
        color: $white;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        padding-bottom: 0px;

        .bg{
         
            overflow: hidden;
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: -1;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            img {
                height: 200px;
                
              }
        }
        .title{
            position: relative;
            display: flex;
            align-self: center;
            font-size: 80px;
            font-family: $bunge;
            transform: translateY(-10vh);
            position: relative;
   
            z-index: 10;
            span{
                font-size: 80px;
            font-family: $bunge;
            }
            &:after {
                content: "REGISTER  NOW";
                -webkit-text-stroke:30px $black ;
                color: #844733;
                position: absolute;
                left: 0;
                z-index: -1
               
              }
        }


        .doors{
            transform: translateY(-10vh);
            height: 100%;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: start;
            justify-content: center;
            gap: 20px;
            padding: 0px 100px;
            box-sizing: border-box;
            
           
            a{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                font-family: $poppins;
                color: $yellow;
                font-weight: 800;
                font-size: 30px;
                -webkit-text-stroke-width:1px;
                -webkit-text-stroke-color: $black;
                
                text-transform: uppercase;
                text-align: center;

                img{
                    height: 400px;
                    &:hover{
                        filter: drop-shadow(2px 2px 10px $yellow);
                    }
                }
            }

        }
    }
}

.road {


    height: 400vh;
    width: 100vw;
    position: relative;
    

    img{
        z-index: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit:fill;
    }

    .con{
      
        height: 100vh;
        width: 100vw;
     
    }

   

    .day1{
        position: relative;
        display: flex;
        flex-direction: column;
        font-family: $bunge;

      
        .title{
            position: absolute;
            width: 100%;
            height: 100px;
            display: flex;
            justify-content: flex-end;
            p{
                font-size: 60px;
                padding-right: 3vw;
                background-color: $green;
                font-family: $bunge;
                color: $neggablue;
            }
        }
        .container{
            width: 100%;
            height: 100%;
            
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 30vw;
            .circle{
                margin-left: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 220px;
                width: 220px;
                background-color: #8F40CD;
                border: $white 10px solid;
                border-radius: 500px;
                p{
                    color: $white;
                    font-size: 50px;
                    font-family: $bunge;
                }

            }
            .text{
                animation: floating_right infinite ease-in-out 3s;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 30px 40px;
                border-radius: 30px;
                background-color: $white;
                min-height: 10px;
                min-width: 10%;
               
                border: #8F40CD 10px solid;
                &:before {
                    content: "";
                    z-index: -10;
                    position: absolute;
                    left: -100px;
                    top: calc(50% - 50px);
                    border-top: 50px solid transparent;
                    border-bottom: 50px solid transparent;
                    border-right: 90px solid $white;
                    
                }
                h1{
                    margin: 0;
                    font-size: 50px;
                    font-family: $bunge;
                    color: $neggablue;
                }
                p{
                    font-size: 20px;
                    font-weight: 700;
                    font-family: $poppins ;
                    color: #8F40CD;
                }
            }
        }
        
    }

   
}

.wowarc{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100vh;
    width: 100vw;
    background-color: red;
    h1{
        animation: floating infinite ease-in-out 3s;
    }

}


.more{
    overflow-x: hidden;
    padding: 30px 0px;
    position: relative;
    height: 100vh;
    width: 100vw;
  
    display: flex;
    align-items: center;
    justify-content: center;
   

    .container{
        height: 80%;
        width: 100%;
        border-radius: 69px;
        background-color: $black ;
        color: $yellow;
        display: flex;
        flex-direction: column;
        h1{
            
            display: flex;
            align-self: center;
            font-size: 80px;
            font-family: $bunge;
            transform: translateY(-10vh);
            position: relative;
            z-index: 10;
            &:after {
                content: "OUR MAJOR SPONSORS";
                -webkit-text-stroke:30px $black ;
                color: #844733;
                position: absolute;
                left: 0;
                z-index: -1
               
              }
      
         

        }
    }
}

@media (max-width:1178px) {

    .nav{
        ul{
            .active{
                border-radius: 10px; 
            }
            a{
                font-size:15px;
                 padding: 10px 15px;
                 &:hover{
                    border-radius: 10px;
                 }
            }
        }
    }


    .page1{
        
        .wow-logo{
            
         
            width: 90%;
            max-width: 790px;
            height: 50%;
            object-fit: contain;
           
            
         
        }
        .text-con{
            
            p{
                
                font-size: 20px;
                font-weight: bold;
                text-align: center;
                filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.193));
    
            }
        }
    
       
    
        
    }
    
    
}